@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__video {
  position: absolute;
  z-index: -50;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 1020px;
}

.main-screen__title {
  position: absolute;
  top: 0;
  margin-top: 5%;
}

.main-screen__title h1 {
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}

.main-screen__sub-title {
  position: absolute;
  top: 0;
  margin-top: 10%;
}

.main-screen__sub-title h2 {
  text-align: center;
  text-shadow: 5px 6px 6px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Roboto Condensed;
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
}

.menu__row {
  background: rgba(0, 0, 0, 0.8);
  height: 1020px;
  width: 100px;
}

.row__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0 0 0;
}

.row__icons li:last-child {
  padding-top: 170px;
}

.icons__button {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icons__button:hover {
  opacity: 1;
}

.footer {
  position: relative;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 116px;
}

.footer__column {
  background-position: 0% 90%;
  margin: 0 15px 0 15px;
}

.footer__column:nth-child(1) {
  padding: 100px 0 0 0;
  background: url(/img/Vector-1.png) no-repeat;
  background-position: 90% 80%;
}

.footer__column:nth-child(2) {
  padding: 500px 0 0 0;
}

.footer__column:nth-child(3) {
  padding: 200px 0 0 0;
  background: url(/img/Vector-2.png) no-repeat;
  background-position: 0% 90%;
}

.footer__column .column {
  position: relative;
}

.footer__column .column__vector {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100px;
  left: 1400px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(-1.5) rotate(180deg);
          transform: scaleX(-1.5) rotate(180deg);
}

.footer__column:nth-child(4) {
  padding: 400px 0 0 0;
}

.column__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column__icon .animate__animated.animate__bounceInLeft {
  --animate-duration: 5s;
}

.column__icon .animate__animated.animate__pulse {
  --animate-duration: 10s;
}

.column__title h3 {
  color: white;
  text-align: center;
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 40px;
}

.column__info {
  color: white;
  text-align: center;
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Roboto Condensed;
  font-size: 36px;
}

.vault {
  margin-top: auto;
}

.vault__columns {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vault__column {
  color: white;
  margin: 10px 300px 0px 50px;
  line-height: 40px;
  font-family: Roboto Condensed;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vault__column a {
  color: white;
  font-family: Roboto Condensed;
  font-size: 18px;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.vault__column a:hover {
  opacity: 0.5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white));
  background-image: linear-gradient(white);
  background-position: 0 1.06em;
  background-repeat: repeat-x;
  background-size: 8px 1px;
}

@media (max-width: 1700px) {
  .main-screen__title h1 {
    font-size: 46px;
  }
  .main-screen__sub-title {
    margin-top: 8%;
  }
  .main-screen__sub-title h2 {
    font-size: 30px;
  }
  .footer__column {
    margin: 0 30px 0 30px;
  }
  .footer__column:nth-child(1) {
    padding: 100px 0 0 0;
    background: url(/img/Vector-1.png) no-repeat;
    background-position: 140% 80%;
  }
  .footer__column:nth-child(2) {
    padding: 500px 0 0 0;
  }
  .footer__column:nth-child(3) {
    padding: 200px 0 0 0;
    background: url(/img/Vector-2.png) no-repeat;
    background-position: -400% 90%;
  }
  .column {
    position: relative;
  }
  .column__title h3 {
    font-size: 30px;
  }
  .column__info {
    font-size: 24px;
  }
  .column__vector {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100px;
    left: 1000px;
    padding-right: 550px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(-1.5) rotate(180deg);
            transform: scaleX(-1.5) rotate(180deg);
  }
  .vault__column {
    font-size: 16px;
  }
  .vault__column a {
    font-size: 16px;
  }
}

@media (max-width: 1500px) {
  .main-screen__title h1 {
    font-size: 42px;
  }
  .main-screen__sub-title {
    margin-top: 8%;
  }
  .main-screen__sub-title h2 {
    font-size: 30px;
  }
  .footer__column {
    margin: 0 40px 0 40px;
  }
  .footer__column:nth-child(1) {
    padding: 100px 0 0 0;
    background: url(/img/Vector-1.png) no-repeat;
    background-position: 110% 80%;
    background-size: 200px;
  }
  .footer__column:nth-child(2) {
    padding: 500px 0 0 0;
  }
  .footer__column:nth-child(3) {
    padding: 200px 0 0 0;
    background: url(/img/Vector-2.png) no-repeat;
    background-position: -70% 90%;
    background-size: 200px;
  }
  .column {
    position: relative;
  }
  .column__title h3 {
    font-size: 30px;
  }
  .column__info {
    font-size: 24px;
  }
  .column__vector {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 30px;
    left: 500px;
    padding-right: 1500px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(-1) rotate(180deg);
            transform: scaleX(-1) rotate(180deg);
    height: 200px;
    width: 200px;
  }
  .vault__column {
    font-size: 14px;
    line-height: 30px;
  }
  .vault__column a {
    font-size: 13px;
  }
}

@media (max-width: 1366px) {
  .main-screen__title h1 {
    font-size: 42px;
  }
  .main-screen__sub-title {
    margin-top: 8%;
  }
  .main-screen__sub-title h2 {
    font-size: 30px;
  }
  .footer__column {
    margin: 0 60px 0 60px;
  }
  .footer__column:nth-child(1) {
    padding: 100px 0 0 0;
    background: url(/img/Vector-1.png) no-repeat;
    background-position: 110% 80%;
    background-size: 150px;
  }
  .footer__column:nth-child(2) {
    padding: 500px 0 0 0;
  }
  .footer__column:nth-child(3) {
    padding: 200px 0 0 0;
    background: url(/img/Vector-2.png) no-repeat;
    background-position: -30% 90%;
    background-size: 150px;
  }
  .column {
    position: relative;
  }
  .column__title h3 {
    font-size: 30px;
  }
  .column__info {
    font-size: 24px;
  }
  .column__vector {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100px;
    left: 500px;
    padding-right: 1800px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(-0.5) rotate(180deg);
            transform: scaleX(-0.5) rotate(180deg);
    height: 150px;
    width: 200px;
  }
  .vault__column {
    font-size: 10px;
  }
  .vault__column a {
    font-size: 10px;
  }
}

@media (max-width: 1250px) {
  .main-screen__title h1 {
    font-size: 42px;
  }
  .main-screen__sub-title {
    margin-top: 8%;
  }
  .main-screen__sub-title h2 {
    font-size: 30px;
  }
  .footer__column {
    margin: 0 60px 0 60px;
  }
  .footer__column:nth-child(1) {
    padding: 100px 0 0 0;
    background: url(/img/Vector-1.png) no-repeat;
    background-position: 110% 80%;
    background-size: 150px;
  }
  .footer__column:nth-child(2) {
    padding: 500px 0 0 0;
  }
  .footer__column:nth-child(3) {
    padding: 200px 0 0 0;
    background: url(/img/Vector-2.png) no-repeat;
    background-position: -30% 90%;
    background-size: 150px;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 116px;
  }
  .column {
    position: relative;
  }
  .column__title h3 {
    font-size: 30px;
  }
  .column__info {
    font-size: 24px;
  }
  .column__vector {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100px;
    left: 500px;
    padding-right: 2000px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(-0.5) rotate(180deg);
            transform: scaleX(-0.5) rotate(180deg);
    height: 150px;
    width: 200px;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 10px;
  }
  .vault__column li {
    width: 200px;
    margin-left: 90px;
  }
  .vault__column a {
    font-size: 10px;
  }
}

@media (max-width: 1100px) {
  .main-screen__title h1 {
    font-size: 38px;
  }
  .main-screen__sub-title {
    margin-top: 10%;
  }
  .main-screen__sub-title h2 {
    font-size: 26px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 300px 0 300px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
  .column__vector img {
    display: none;
  }
}

@media (max-width: 990px) {
  .main-screen__title h1 {
    font-size: 38px;
  }
  .main-screen__sub-title {
    margin-top: 10%;
  }
  .main-screen__sub-title h2 {
    font-size: 26px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 300px 0 300px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
  .column__vector img {
    display: none;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .vault {
    margin-top: auto;
  }
  .vault__columns {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vault__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 930px) {
  .main-screen__title h1 {
    font-size: 38px;
  }
  .main-screen__sub-title {
    margin-top: 10%;
  }
  .main-screen__sub-title h2 {
    font-size: 26px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 300px 0 300px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
  .column__vector img {
    display: none;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .vault {
    margin-top: auto;
  }
  .vault__columns {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vault__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column__title h3 {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 28px;
  }
  .column__info {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-size: 22px;
  }
}

@media (max-width: 780px) {
  .main-screen__title {
    padding: 0 0 0 90px;
  }
  .main-screen__title h1 {
    font-size: 32px;
  }
  .main-screen__sub-title {
    margin-top: 10%;
    padding: 0 0 0 90px;
  }
  .main-screen__sub-title h2 {
    font-size: 22px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 200px 0 200px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
  .column__vector img {
    display: none;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .vault {
    margin-top: auto;
  }
  .vault__columns {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vault__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column__title h3 {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 22px;
  }
  .column__info {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .main-screen__title {
    margin-top: 18%;
    padding: 0 0 0 60px;
  }
  .main-screen__title h1 {
    font-size: 22px;
  }
  .main-screen__sub-title {
    margin-top: 24%;
    padding: 0 0 0 60px;
  }
  .main-screen__sub-title h2 {
    font-size: 16px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 100px 0 100px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
  .column__vector img {
    display: none;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 200px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .vault {
    margin-top: auto;
  }
  .vault__columns {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vault__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column__title h3 {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 22px;
  }
  .column__info {
    color: white;
    text-align: center;
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Roboto Condensed;
    font-size: 18px;
  }
  .menu__row {
    background: rgba(0, 0, 0, 0.8);
    height: 1020px;
    width: 50px;
  }
  .row__logo {
    padding: 0 13px 0 0;
    height: 65px;
    width: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row__icons li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 55px 0 0 0;
  }
  .row__icons li:last-child {
    padding-top: 180px;
  }
  .icons img {
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 450px) {
  .main-screen__title {
    margin-top: 18%;
    padding: 0 0 0 50px;
  }
  .main-screen__title h1 {
    font-size: 20px;
  }
  .main-screen__sub-title {
    margin-top: 24%;
    padding: 0 0 0 50px;
  }
  .main-screen__sub-title h2 {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .main-screen__title {
    margin-top: 16%;
    padding: 0 0 0 50px;
  }
  .main-screen__title h1 {
    font-size: 20px;
  }
  .main-screen__sub-title {
    margin-top: 24%;
    padding: 0 0 0 50px;
  }
  .main-screen__sub-title h2 {
    font-size: 16px;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 200px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 50px 0 50px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
}

@media (max-width: 325px) {
  .main-screen__title {
    margin-top: 16%;
    padding: 0 0 0 50px;
  }
  .main-screen__title h1 {
    font-size: 20px;
  }
  .main-screen__sub-title {
    margin-top: 30%;
    padding: 0 0 0 50px;
  }
  .main-screen__sub-title h2 {
    font-size: 23px;
  }
  .vault__column {
    line-height: 25px;
    margin: 0 0 0 0px;
    margin-bottom: 0px;
  }
  .vault__column li {
    width: 180px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .vault__column a {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .footer {
    position: relative;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
    padding-top: 100px;
    padding: 0 50px 0 50px;
  }
  .footer__column {
    margin: 0 60px 60px 0;
    margin: 30px 0 30px 0;
  }
  .footer__column:nth-child(1) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(2) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column:nth-child(3) {
    padding: 0px 0 0 0;
    background: none;
  }
  .footer__column .column {
    position: relative;
  }
  .footer__column:nth-child(4) {
    padding: 0px 0 0 0;
    background: none;
  }
}
