@import "clear.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
body{
	height: 100%;
	margin: 0;
}
.wrapper {
	

}
.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.header {
}
.main-screen {
	
		&__content{
			display: flex;
			justify-content: center;
		}

		&__video {
			position: absolute;
			z-index: -50;
			width: 100%;
			object-fit: cover;
			height: 1020px;
		}

		&__menu {
		}

		&__title {
			position: absolute;
			top: 0;
			margin-top: 5%;
			
			
			h1{
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: bold;
				font-size: 64px;
				text-align: center;
			}
		}

		&__sub-title {
			position: absolute;
			top: 0;
			margin-top: 10%;
			
			h2{
				text-align: center;
				text-shadow: 5px 6px 6px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: lighter;
				font-style: italic;
				font-size: 36px;
			}
		}
}
.menu {

		&__row {
			background: rgba($color: #000000, $alpha: 0.8);
			height: 1020px;
			width: 100px;

		}
}
.row {

		&__logo {
			display: flex;
			justify-content: center;
		}

		&__icons {
			li{
				display: flex;
				justify-content: center;
				margin: 35px 0 0 0;
				&:last-child{
					padding-top: 170px;
				}
			}
		}
}
.icons {
		&__button {
			opacity: 0.5;
			transition: all 0.5s ease 0s;
			&:hover{
				opacity: 1;
			}
		}


}

.footer {
	position: relative;

	&__content {
	}

	&__info {
	}

	&__columns {
		display: flex;
		flex-direction: row;
		margin-bottom: 116px;

	}

	&__column {
		background-position: 0% 90%;
		margin: 0 15px 0 15px;
		&:nth-child(1){
			padding: 100px 0 0 0;
			background: url(/img/Vector-1.png) no-repeat;
			background-position: 90% 80%;
		}
		&:nth-child(2){
			padding: 500px 0 0 0;
		}
		&:nth-child(3){
			padding: 200px 0 0 0;
			background: url(/img/Vector-2.png) no-repeat;
			background-position: 0% 90%;
		}
		.column {
			position: relative;
			&__vector {
				position: absolute;
				display: flex;
				top: 100px;
				left: 1400px;
				transform-origin: center;
				transform: scaleX(-1.5) rotate(180deg);
				
				
			}
	}
	
		&:nth-child(4){
			padding: 400px 0 0 0;
		}
	}
}
.main-screen {

	&__video {
	}
}
.column {
	
	&__icon {
		display: flex;
		justify-content: center;
			.animate__animated.animate__bounceInLeft {
				--animate-duration: 5s;
			  }	
			  .animate__animated.animate__pulse {
				--animate-duration: 10s;
			  }	
	}
	

	&__title {
		h3{
			color: white;
			text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: bold;
				font-size: 40px;
		}
	}

	&__info {
		color: white;
		text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-size: 36px;
	}
}
.vault {
	margin-top: auto;

	&__columns {
		background: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 150px;
		display: flex;
		flex-direction: row;
	}

	&__column {
		a{
			color: white;
			font-family: Roboto Condensed;
			font-size: 18px;
			opacity: 1;
			transition: all 0.5s ease 0s;
			
			&:hover{
				opacity: 0.5;
				background-image: linear-gradient(white);
				background-position: 0 1.06em;
 				background-repeat: repeat-x;
 				background-size: 8px 1px;

			}
		}
		color: white;
		margin: 10px 300px 0px 50px;
		line-height: 40px;
		font-family: Roboto Condensed;
		font-size: 18px;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1700px){
	.main-screen__title{
		h1{
			font-size: 46px;
		}
	}
	.main-screen__sub-title{
		margin-top: 8%;
		h2{
			font-size: 30px;
		}
	}
	.footer__column{
		margin: 0 30px 0 30px;
		&:nth-child(1){
			padding: 100px 0 0 0;
			background: url(/img/Vector-1.png) no-repeat;
			background-position: 140% 80%;
		}
		&:nth-child(2){
			padding: 500px 0 0 0;
		}
		&:nth-child(3){
			padding: 200px 0 0 0;
			background: url(/img/Vector-2.png) no-repeat;
			background-position: -400% 90%;
		}
	}
	.column {
		&__title{
			h3{font-size: 30px;}
		}
		&__info{
			font-size: 24px;
		}

		position: relative;
		&__vector {
			position: absolute;
			display: flex;
			top: 100px;
			left: 1000px;
			padding-right: 550px;
			transform-origin: center;
			transform: scaleX(-1.5) rotate(180deg);				
		}
	}
	.vault__column{
		font-size: 16px;
		a{
			font-size: 16px;
		}
	}
}

@media (max-width: 1500px){
	.main-screen__title{
		h1{
			font-size: 42px;
		}
	}
	.main-screen__sub-title{
		margin-top: 8%;
		h2{
			font-size: 30px;
		}
	}
	.footer__column{
		margin: 0 40px 0 40px;

		&:nth-child(1){
			padding: 100px 0 0 0;
			background: url(/img/Vector-1.png) no-repeat;
			background-position: 110% 80%;
			background-size: 200px;
		}
		&:nth-child(2){
			padding: 500px 0 0 0;
		}
		&:nth-child(3){
			padding: 200px 0 0 0;
			background: url(/img/Vector-2.png) no-repeat;
			background-position: -70% 90%;
			background-size: 200px;
		}
	}
	.column {
		&__title{
			h3{font-size: 30px;}
		}
		&__info{
			font-size: 24px;
		}

		position: relative;
		&__vector {
			position: absolute;
			display: flex;
			top: 30px;
			left: 500px;
			padding-right: 1500px;
			transform-origin: center;
			transform: scaleX(-1) rotate(180deg);	
			height: 200px;
			width: 200px;			
		}
	}
	.vault__column{
		font-size: 14px;
		line-height: 30px;
		a{
			font-size: 13px;		
		}
	}
}


@media (max-width: 1366px){
	.main-screen__title{
		h1{
			font-size: 42px;
		}
	}
	.main-screen__sub-title{
		margin-top: 8%;
		h2{
			font-size: 30px;
		}
	}
	.footer__column{
		margin: 0 60px 0 60px;

		&:nth-child(1){
			padding: 100px 0 0 0;
			background: url(/img/Vector-1.png) no-repeat;
			background-position: 110% 80%;
			background-size: 150px;
		}
		&:nth-child(2){
			padding: 500px 0 0 0;
		}
		&:nth-child(3){
			padding: 200px 0 0 0;
			background: url(/img/Vector-2.png) no-repeat;
			background-position: -30% 90%;
			background-size: 150px;
		}

	}
	.column {
		&__title{
			h3{font-size: 30px;}
		}
		&__info{
			font-size: 24px;
		}

		position: relative;
		&__vector {
			position: absolute;
			display: flex;
			top: 100px;
			left: 500px;
			padding-right: 1800px;
			transform-origin: center;
			transform: scaleX(-0.5) rotate(180deg);		
			height: 150px;
			width: 200px;			
		}
	}
	.vault__column{
		font-size: 10px;
	
		a{	
			font-size: 10px;		
		}
	}
}
@media (max-width: 1250px){
	.main-screen__title{
		h1{
			font-size: 42px;
		}
	}
	.main-screen__sub-title{
		margin-top: 8%;
		h2{
			font-size: 30px;
		}
	}
	.footer__column{
		margin: 0 60px 0 60px;

		&:nth-child(1){
			padding: 100px 0 0 0;
			background: url(/img/Vector-1.png) no-repeat;
			background-position: 110% 80%;
			background-size: 150px;
		}
		&:nth-child(2){
			padding: 500px 0 0 0;
		}
		&:nth-child(3){
			padding: 200px 0 0 0;
			background: url(/img/Vector-2.png) no-repeat;
			background-position: -30% 90%;
			background-size: 150px;
		}

	}

	.footer{
		&__columns {
		display: flex;
		flex-direction: row;
		margin-bottom: 116px;

	}
	}

	.column {
		&__title{
			h3{font-size: 30px;}
		}
		&__info{
			font-size: 24px;
		}

		position: relative;
		&__vector {
			position: absolute;
			display: flex;
			top: 100px;
			left: 500px;
			padding-right: 2000px;
			transform-origin: center;
			transform: scaleX(-0.5) rotate(180deg);		
			height: 150px;
			width: 200px;			
		}
	}
	.vault__column{
		line-height: 25px;
		margin: 0 0 0 10px;
		li{
			width: 200px;
			margin-left: 90px;
		}
		a{	
			
			font-size: 10px;	
		}
	}
}

@media (max-width: 1100px){

	.main-screen__title{
		h1{
			font-size: 38px;
		}
	}
	.main-screen__sub-title{
		margin-top: 10%;
		h2{
			font-size: 26px;
		}
	}

	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 300px 0 300px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
	.column {
		

			&__vector {
				img{
					display: none;}
			}		
}

}

@media (max-width: 990px){

	.main-screen__title{
		h1{
			font-size: 38px;
		}
	}
	.main-screen__sub-title{
		margin-top: 10%;
		h2{
			font-size: 26px;
		}
	}

	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 300px 0 300px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
	.column {
		

			&__vector {
				img{
					display: none;}
			}		
}
.vault__column{
	line-height: 25px;
	margin: 0 0 0 0px;
	margin-bottom: 0px;
	li{
		width: 300px;
		margin-left: 30px;
		margin-bottom: 0px;
	}
	a{	
		margin-bottom: 0px;
		font-size: 10px;	
	}
}
.vault {
	margin-top: auto;

	&__columns {
		background: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 100px;
		display: flex;
		flex-direction: row;
	}

	&__column {
		a{
		}
		display: flex;
		align-items: center;
	}
}

}
@media (max-width: 930px){

	.main-screen__title{
		h1{
			font-size: 38px;
		}
	}
	.main-screen__sub-title{
		margin-top: 10%;
		h2{
			font-size: 26px;
		}
	}

	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 300px 0 300px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
	.column {
		

			&__vector {
				img{
					display: none;}
			}		
}
.vault__column{
	line-height: 25px;
	margin: 0 0 0 0px;
	margin-bottom: 0px;
	li{
		width: 300px;
		margin-left: 30px;
		margin-bottom: 0px;
	}
	a{	
		margin-bottom: 0px;
		font-size: 10px;	
	}
}
.vault {
	margin-top: auto;

	&__columns {
		background: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 100px;
		display: flex;
		flex-direction: row;
	}

	&__column {
		a{
		}
		display: flex;
		align-items: center;
	}
}
.column {
	
	&__icon {
		display: flex;
		justify-content: center;
	}

	&__title {
		h3{
			color: white;
			text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: bold;
				font-size: 28px;
		}
	}

	&__info {
		color: white;
		text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-size: 22px;
	}
}

}
@media (max-width: 780px){

	.main-screen__title{
		padding: 0 0 0 90px;
		h1{
			font-size: 32px;
		}
	}
	.main-screen__sub-title{
		margin-top: 10%;
		padding: 0 0 0 90px;
		h2{
			font-size: 22px;
		}
	}

	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 200px 0 200px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
	.column {
		

			&__vector {
				img{
					display: none;}
			}		
}
.vault__column{
	line-height: 25px;
	margin: 0 0 0 0px;
	margin-bottom: 0px;
	li{
		width: 300px;
		margin-left: 30px;
		margin-bottom: 0px;
	}
	a{	
		margin-bottom: 0px;
		font-size: 10px;	
	}
}
.vault {
	margin-top: auto;

	&__columns {
		background: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 100px;
		display: flex;
		flex-direction: row;
	}

	&__column {
		a{
		}
		display: flex;
		align-items: center;
	}
}
.column {
	
	&__icon {
		display: flex;
		justify-content: center;
	}

	&__title {
		h3{
			color: white;
			text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: bold;
				font-size: 22px;
		}
	}

	&__info {
		color: white;
		text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-size: 18px;
	}
}

}
@media (max-width: 450px){

	.main-screen__title{
		margin-top: 18%;
		padding: 0 0 0 60px;
		h1{
			font-size: 22px;
		}
	}
	.main-screen__sub-title{
		margin-top: 24%;
		padding: 0 0 0 60px;
		h2{
			font-size: 16px;
		}
	}

	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 100px 0 100px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
	.column {
		

			&__vector {
				img{
					display: none;}
			}		
}
.vault__column{
	line-height: 25px;
	margin: 0 0 0 0px;
	margin-bottom: 0px;
	li{
		width: 200px;
		margin-left: 30px;
		margin-bottom: 0px;
	}
	a{	
		margin-bottom: 0px;
		font-size: 10px;	
	}
}
.vault {
	margin-top: auto;

	&__columns {
		background: rgba($color: #000000, $alpha: 0.4);
	width: 100%;
	height: 100px;
		display: flex;
		flex-direction: row;
	}

	&__column {
		a{
		}
		display: flex;
		align-items: center;
	}
}
.column {
	
	&__icon {
		display: flex;
		justify-content: center;
	}

	&__title {
		h3{
			color: white;
			text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-weight: bold;
				font-size: 22px;
		}
	}

	&__info {
		color: white;
		text-align: center;
				text-shadow: 5px 6px 4px rgba($color: #000000, $alpha: 0.3);
				color: white;
				font-family: Roboto Condensed;
				font-size: 18px;
	}
}
.menu {

	&__row {
		background: rgba($color: #000000, $alpha: 0.8);
		height: 1020px;
		width: 50px;

	}
}
.row {

	&__logo {
		padding: 0 13px 0 0;
		height: 65px;
		width: 65px;
		display: flex;
		justify-content: center;

	}

	&__icons {
		li{
			display: flex;
			justify-content: center;
			margin: 55px 0 0 0;
			
			&:last-child{
				padding-top: 180px;
			}
		}
	}
}
.icons {

}
.row {

	&__icons {
	}
}
.icons {
	img{
		height: 35px;
		width: 35px;
	}
}

}
@media (max-width: 450px){

	.main-screen__title{
		margin-top: 18%;
		padding: 0 0 0 50px;
		h1{
			font-size: 20px;
		}
	}
	.main-screen__sub-title{
		margin-top: 24%;
		padding: 0 0 0 50px;
		h2{
			font-size: 18px;
		}
	}
}
@media (max-width: 375px){

	.main-screen__title{
		margin-top: 16%;
		padding: 0 0 0 50px;
		h1{
			font-size: 20px;
		}
	}
	.main-screen__sub-title{
		margin-top: 24%;
		padding: 0 0 0 50px;
		h2{
			font-size: 16px;
		}
	}
	.vault__column{
		line-height: 25px;
		margin: 0 0 0 0px;
		margin-bottom: 0px;
		li{
			width: 200px;
			margin-left: 30px;
			margin-bottom: 0px;
		}
		a{	
			margin-bottom: 0px;
			font-size: 10px;	
		}
	}
	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 50px 0 50px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
}
@media (max-width: 325px){

	.main-screen__title{
		margin-top: 16%;
		padding: 0 0 0 50px;
		h1{
			font-size: 20px;
		}
	}
	.main-screen__sub-title{
		margin-top: 30%;
		padding: 0 0 0 50px;
		h2{
			font-size: 23px;
		}
	}
	.vault__column{
		line-height: 25px;
		margin: 0 0 0 0px;
		margin-bottom: 0px;
		li{
			width: 180px;
			margin-left: 10px;
			margin-bottom: 0px;
		}
		a{	
			margin-bottom: 0px;
			font-size: 10px;	
		}
	}
	.footer {
		position: relative;
	
		&__content {
		}
	
		&__info {
		}
	
		&__columns {
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
			padding-top: 100px;
			padding: 0 50px 0 50px;
	
		}
		
		&__column {
			margin: 0 60px 60px 0;
			margin: 30px 0 30px 0;
			
			&:nth-child(1){
				padding: 0px 0 0 0;
				background: none;
			
				
			}
			&:nth-child(2){
				padding: 0px 0 0 0;
				background: none;
			}
			&:nth-child(3){
				padding: 0px 0 0 0;
				background: none;
			}
			.column {
				position: relative;
				
		}
		
			&:nth-child(4){
				padding: 0px 0 0 0;
				background: none;
			}
		}
	}
}













						
					